
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2 class="text-center">Department</h2>
    <br />

    <form method="post">
        <div class="col-md-8 col-md-offset-2">
            <div class="row form-group justify-content-center">
                <label for="inputCode" Class="col-sm-3 control-label text-right">Code :</label>
                <div class="col-sm-6 d-flex">
                    <input type="text" id="inputCode" class="form-control" name="Code" value="" />
                </div>
            </div>
            <div class="row form-group justify-content-center">
                <label for="inputDeptName" Class="col-sm-3 control-label text-right">Department Name :</label>
                <div class="col-sm-6 d-flex">
                    <input type="text" id="inputDeptName" class="form-control" name="Name" value="" />
                </div>
            </div>
            <div class="row form-group justify-content-center">
                <div class="col-12">
                    <input type="submit" name="submit" Class="btn btn-success col-sm-offset-6" value="Save" />
                    <br />
                </div>
            </div>
        </div>
    </form>
</div>
