@model IEnumerable<UniversityManagement.Models.Department>
@{
    ViewBag.Title = "GetAllDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}

<h2>All Department</h2>

<table class="table">
    <thead>
        <tr>
            <th>SL</th>
            <th>Code</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            sl++;
            <tr>
                <td>@sl</td>
                <td>@department.Code</td>
                <td>@department.Name</td>
            </tr>
        }
    </tbody>
</table>